{{define "head"}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}} - {{.server.Title}}</title>
    <meta name="description" content="{{.server.Description}}">
    <link rel="stylesheet" href="/static/css/dracula.css">
    <script src="/static/js/app.js" defer></script>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#282a36">
</head>
<body>
{{end}}
